tp1/java/LABD/tp1-ex5/src/tp1/ex5/exercice5.dtd


<!ELEMENT  famille (nom,personne+)>
<!ELEMENT  personne (prenom,age,(poids-kg|poids-lb),taille?)>
<!ATTLIST personne pnumber ID #REQUIRED 
          mere IDREF #IMPLIED 
          pere IDREFS #IMPLIED>
<!ELEMENT  nom (#PCDATA)>
<!ELEMENT  prenom (#PCDATA)>
<!ELEMENT  age (#PCDATA)>
<!ELEMENT  poids-kg (#PCDATA)>
<!ELEMENT  poids-lb (#PCDATA)>
<!ELEMENT  taille (#PCDATA)>



